 #Module name:   gitignore
 #Author:        Krzysztof Wójcik
 #Last modified: 2025-05-03
 #Description: files ignored in the Git repository
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
venv/
env/
ENV/
.venv/
.idea/
.DS_Store
*.log
